/* Header Top */
.header {
    /* position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3; */
}
.headerLogoContainer {
  

}
.headerTop {
    border-bottom: 10px solid var(--blue);  
    height: 20vh;
    width: 100%;
    background-color: var(--navy);
    display: flex;
}

.headerTop div {
    background-color: white;
    width: 20rem;
    height: 25rem; 
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;  
    z-index: 1;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.headerTop ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    grid-gap: 13rem;
    list-style: none;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    height: 90%;
}
.navLinks li:hover {
	color: var(--blue);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
}

/* header bottom-hero */
.headerBottom {

    background-image: url(/group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
   
    width: 100%;
    display: flex;
    flex-direction: column;
  
 
}

.headerBottomContent {
    margin-left: 5rem;
    height: 100%;
}

.headerBottom h1 {
    font-size: 7rem;
    text-transform: none;
}

.headerBottom h2 {
margin-top:45vh;
}

/* .headerBottom p{
    float: right;
    text-align: right;
    font-size: 3rem;
    font-style: italic;
} */

.headerBottom button {
    margin: 5rem 0;
}

/* Card */
.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 45rem;
     background-color: white;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }

.cardTop {
    background-color: var(--navy);
    border-bottom: 4px solid var(--blue);
    color: white;
    width: 100%;
    border-radius: 8px 8px 0 0;
    text-align: center;
}
.cardTop p{
    font-size: 3.5rem;
    line-height: 7rem;
}
.cardBottom {
    margin: 4rem 0;

}
.cardBottom ul {
   font-size: 3rem;
   list-style: none;
   line-height: 8rem;
   
}


/* footer */
.footerLeft {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-evenly;
width: 50%;
padding: 5rem;
}
.footerIcons p{
    margin: 2rem;
}
.iconContainer {
  
}
.subscribe p{
    margin: 5rem 2rem 0 2rem; 
}
.subscribe div {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    
}
.subscribe input {
width: 50rem;
height: 5rem;
border-radius: 8px 0 0 8px;
border: none;

}
.subscribe button {
border-radius:0 8px 8px 0;
width: 13rem;
height: 5rem;
border: none;
box-shadow: none;
background-color: var(--blue);
}

.subscribe button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--ltBlue);
    cursor: pointer;
  }
.footerRight {
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.footerRight p{
    width: 75%;
}
.disclaimer {
    display: flex;
   width: 75%;

}
.disclaimer p{
    font-size: 1.5rem;
}
.disclaimer p:hover {
    color: var(--ltBlue);
    cursor: pointer;
}

/* Donation Form */
.donationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--navy);
    width: 100%;
    /* height: fit-content; */
}
.donationForm div{
    display: flex;

   
    border-radius: 10px;
    background-color: var(--ltGrey);
    width: 90%;
    height: 80%;

}
.donationFormLeft{
    width: 60vw;
}
.donationForm input{
    margin: 2.5rem 1rem;
}
.donationFormRight {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
width: 40vw;

}

.formChart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;

   

  
}
.checkboxContainer {
    display: flex;
    align-items: center;
    
    
}
