* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#homeIcon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
:root {
  --red: #ff0000;
  --navy: #1e2338;
  --blue: #0081c6;
  --ltBlue: #81ddf9;

  /* Background color */
  --ltGrey: #f1f7ff;
  /* input placeholder text color */
  --grey: #b5b5b5;
}

html {
  font-size: 62.5%;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;

  font-family: 'lato', sans-serif;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  color: #1e2338;
}

h3 {
  font-size: 4rem;
  font-weight: 400;
  color: white;
}
p, span {
  font-size: 2.5rem;
  line-height: 4rem;
}
fieldset {
  border:none;
}
.italicP {
  font-style: italic;
}
.headerNavTxt {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.ltBlueTxt {
  color: #81ddf9;
}
.blueTxt {
  color: #0081c6;
}
.navyTxt {
  color: #1e2338;
}
.whtTxt {
  color: white;
}

button {
  width: 27rem;
  height: 6rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 5rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--ltBlue);
  cursor: pointer;
}
.homeLink {
position: fixed;
z-index: 99;

padding: 0 2rem;
right: 5%;
bottom: 5%;
}
.homeLink a {
  text-shadow: 3px 5px 2px rgb(0 0 0 0.4);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}



.redBtn {
  background-color: #ff0000;
}

.navyBtn {
  background-color: #1e2338;


}
.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
 
  
}

.greyLeftSide {
  background-color: var(--ltGrey);
  grid-gap: 3rem;
  height: 100vh;

}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-gap: 5rem;
  
}

.rightSideRed {
  background-color: var(--red);
  color: white;
  padding: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.socialMediaIcon {
  background-color: var(--blue);
  border-radius: 100%;
padding: 1rem;
margin: 1rem;

}
.socialMediaIcon:hover {
  background-color: var(--ltBlue);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 3px 8px;
  cursor: pointer;

}
.iconCircle {
  background-color: var(--blue);
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.careerTxt {
  color: red;
}
.copyrightP {
  font-size: 1.5rem;

}

/* inputs */
.inputAll {

  border: 0.25px solid var(--grey);
  border-radius: 5px;
  height: 3.5rem;
}
.inputXS {
  width: 15rem;
}
.inputS {
  width: 30rem;
}
.inputM {
  width: 45rem;
}
.inputL {
  width: 60rem;
}
.inputXL {
  width: 80rem;
}
.dropDown {
  margin-left: 2rem;
}
.checkBox {
  height: 3.5rem;
  width: 3.5rem;
 border:none;
  border-radius: 5px;
}
label {
  font-size: 2rem;
  display: inline-block;
  width: 15rem;
 
}
.fullLabel{
  width: 35rem;
}
.space {
 padding-left: 5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
