/* .main {
  padding-left: 4rem;
} */

/* page */
.about,
.donate,
.volunteer,
.careers {
  min-height: 100vh;
  width: 100%;

 

}

/* about */  


.aboutContainer {
  background-image: url(/lightbulbGra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem; 

min-height: 90vh; 
  position: relative;
    
}

.about h1 {
  background-color: var(--blue);
  padding: 1.5rem 0 0 3rem;
}
.about h2 {
  background-color: var(--blue);
  padding: 0 0 1.5rem 3rem;   
}
.about h3 {
  margin: 6rem 0;
}
.about p {
  width: 60%;
  margin-bottom: 3rem;
  text-align: justify;
}

/* projects */

.projectContainer {
  padding: 5rem;
  display: flex;
  justify-content: space-around;

  width: 100%;
  min-height: 90vh;
  background-color: var(--ltBlue);
}

.projects h1 {
  display: flex;
  align-items: center;
  background-color: var(--navy);
  padding-left: 5rem;
}

.line {
  width: 1%;
  border-right: 2px solid white;
}
.projectContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 3rem;
  text-align: center;
  grid-gap: 5rem;
}
.projectBtn {
  background-color: var(--navy);
}
.projectBtn:hover {
  background-color: var(--ltGrey);
  color: var(--navy);
  transform: scale(1.05);
}
/* donate */
.donate {
  height: 100vh;
 
}
.donate h3 {
  color: white;
  background-color: var(--navy);
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 5rem;

}
.donateContainer {




}
.donateTop {
  padding: 1rem 10rem 10rem 10rem;
  color: var(--navy);
  display: flex;
  justify-content: space-around;
}
.donateInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
.donateInfo h1 {
font-size: 4.5rem;
font-weight: 900;
margin-bottom: 1.5rem;
}
.donateInfo p {
  line-height: 5rem;
}

.donorLevels {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.donorLevels h1 {
font-size: 4.5rem;
font-weight: 900;
margin-bottom: 2rem;
}
.donorLevels p{
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.donorLevels h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.donorLevelList li {
  text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
 font-size: 2.5rem;
 border: 2px solid white;
 color: white;
 padding: 1rem 0 1rem 3rem;
}
.donorLevels a {
  font-size: 2.5rem;
  text-align: right;
  color:white;
}
.otherAmountLink a {
  color: var(--blue);
  text-decoration: underline;
 
}
.donateBottom {
display: flex;
justify-content:center;
grid-gap: 5rem;
  background-color: var(--blue);
  height: 15rem;
  
}
.donateInfoCard {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--ltBlue);
width: 30rem;
height: 15rem;
border-radius: 15px;
padding: 1.5rem;
transform: translateY(-4rem);
}
.donateInfoCard h1 {
  font-size: 3.5rem;
  color: white;
  font-weight: 900;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}
.donateInfoCard p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
  margin-top: .5rem;
}
.references {
  background-color: var(--blue);
}
.references p {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}
/* to the top button  */
.homeLink {
  position: fixed;
  z-index: 99;
  color: var(--ltGrey);
 
  padding: 0 2rem;
  right: 5%;
  bottom: 5%;
  }
  .homeLink a {
   
    text-shadow: 2px 2px 2px rgb(0 0 0 0.9);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
/* volunteer */

.volunteer {
  background-image: url(/clouds.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
}
.volunteer h1 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: var(--navy);
  padding: 1rem 5rem;
}

.volunteer h2 {
  text-transform: uppercase;
}
.volunteer p {
  width: 80%;
}
.topSection {
  display: flex;
}
.imageContainer {
  width: 50%;
  height: 68vh;
}
.bottomSection {
  background-color: var(--blue);
  height: 20rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottomSection span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.careers {
  background-color: var(--ltGrey);
}
.careers h1 {
  padding: 5rem;
}
.careerTop {
  display: flex;
  justify-content: space-around;
}
.careerBottom {
  display: flex;
  justify-content: space-between;
  margin: 5rem 10rem;
}
.careerBottom p {
  width: 60%;
}
.resources {
  background-color: var(--blue);

  padding: 5rem;

  height: 60vh;
}
.resources h1 {
  margin-bottom: 5rem;
  width: 100%;
  border-bottom: 1px solid white;
}
.resourcesContainer {
  display: flex;
  grid-gap: 20%;
}
.resourcesLeft {
  width: 50%;
}
.resourceList h3 {
  margin-bottom: 5rem;
}
.resourceList ul {
  color: white;
  list-style: none;
  font-size: 2rem;
  line-height: 5rem;
  margin-left: 1rem;
}
.resourceList li:hover {
  color: var(--ltBlue);
}
/* footer */
.footer {
  background-color: var(--navy);
  color: white;
  display: flex;
}
